<html lang+"en">
<head>
    <title>About Me</title>
</head>
<body>
    <h1>About Me<h/1>
    <p>Hello! I'm Paige, and this is my project-oriented website. Here I plan to share my journey and projects in cybersecurity, IT, and technology. Whether it's hands-on labs, scripts, write-ups, or research, this site will serve as a portfolio and knowledge hub. My goal is to document what I learn, showcase what I build, and hopefully help others who are exploring similar paths in tech.</p>
    <img src="/Users/paigemccutcheon/Documents/GitHub/Paiges-Website/Personal\ Projects/images/IMG_3532.jpeg" alt="A picture of me" width="300">
</body>
</html>

