<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <title>Big Baller P</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}"> 
    </head>
    <body>
        <header>
            <h1>Welcome to My Website!</h1>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Me</a>
            <a href="#">Projects</a>
        </nav> 
        <main>
            <p>This is the content of my website.</p>
        </main>
        <footer>
            <p>@ 2025 Big Baller P</p>
        </footer>
    </body>
    </html> 
            